In [22]:
#Importing Libraries, Setting Env
import json
from pprint import pprint
import pandas as pd
from IPython.display import display
pd.set_option('display.max_columns', 35)

#### Sample Data Structure

In [23]:
with open('refugees to Kenya.json') as f:
    data = json.load(f)
    
pprint(data)

{'chartType': 'areaspline',
 'color': '#3c8dbc',
 'currentSeries': 1,
 'data': {'geoMasterId': {'adm': 'Country',
                          'id': 178,
                          'lat': 0.537253,
                          'lon': 37.8802,
                          'name': 'Kenya'},
          'source': 'UNHCR',
          'timeseries': [{'data_date': '2013-12-31',
                          'individuals': 46176,
                          'unix_timestamp': 1388448000},
                         {'data_date': '2014-03-31',
                          'individuals': 63211,
                          'unix_timestamp': 1396224000},
                         {'data_date': '2014-06-30',
                          'individuals': 76310,
                          'unix_timestamp': 1404086400},
                         {'data_date': '2014-09-30',
                          'individuals': 87205,
                          'unix_timestamp': 1412035200},
                         {'data_date': '2014-12-31',
                          'individuals': 89474,
                          'unix_timestamp': 1419984000},
                         {'data_date': '2015-03-31',
                          'individuals': 92317,
                          'unix_timestamp': 1427760000},
                         {'data_date': '2015-06-30',
                          'individuals': 95086,
                          'unix_timestamp': 1435622400},
                         {'data_date': '2015-09-30',
                          'individuals': 90240,
                          'unix_timestamp': 1443571200},
                         {'data_date': '2015-12-31',
                          'individuals': 95765,
                          'unix_timestamp': 1451520000},
                         {'data_date': '2016-01-31',
                          'individuals': 96648,
                          'unix_timestamp': 1454198400},
                         {'data_date': '2016-02-29',
                          'individuals': 98142,
                          'unix_timestamp': 1456704000},
                         {'data_date': '2016-03-31',
                          'individuals': 99315,
                          'unix_timestamp': 1459382400},
                         {'data_date': '2016-04-30',
                          'individuals': 101632,
                          'unix_timestamp': 1461974400},
                         {'data_date': '2016-05-31',
                          'individuals': 103247,
                          'unix_timestamp': 1464652800},
                         {'data_date': '2016-06-30',
                          'individuals': 87030,
                          'unix_timestamp': 1467244800},
                         {'data_date': '2016-07-31',
                          'individuals': 87924,
                          'unix_timestamp': 1469923200},
                         {'data_date': '2016-08-31',
                          'individuals': 90247,
                          'unix_timestamp': 1472601600},
                         {'data_date': '2016-09-30',
                          'individuals': 91212,
                          'unix_timestamp': 1475193600},
                         {'data_date': '2016-10-31',
                          'individuals': 91236,
                          'unix_timestamp': 1477872000},
                         {'data_date': '2016-11-30',
                          'individuals': 91224,
                          'unix_timestamp': 1480464000},
                         {'data_date': '2016-12-31',
                          'individuals': 88391,
                          'unix_timestamp': 1483142400},
                         {'data_date': '2017-01-31',
                          'individuals': 90864,
                          'unix_timestamp': 1485820800},
                         {'data_date': '2017-02-28',
                          'individuals': 93613,
                          'unix_timestamp': 1488240000},
                         {'data_date': '2017-03-31',
                          'individuals': 95283,
                          'unix_timestamp': 1490918400},
                         {'data_date': '2017-04-30',
                          'individuals': 97147,
                          'unix_timestamp': 1493510400},
                         {'data_date': '2017-05-31',
                          'individuals': 101713,
                          'unix_timestamp': 1496188800},
                         {'data_date': '2017-06-30',
                          'individuals': 105899,
                          'unix_timestamp': 1498780800},
                         {'data_date': '2017-07-31',
                          'individuals': 107899,
                          'unix_timestamp': 1501459200},
                         {'data_date': '2017-08-31',
                          'individuals': 109222,
                          'unix_timestamp': 1504137600},
                         {'data_date': '2017-09-30',
                          'individuals': 110377,
                          'unix_timestamp': 1506729600},
                         {'data_date': '2017-11-30',
                          'individuals': 110910,
                          'unix_timestamp': 1512000000},
                         {'data_date': '2017-12-19',
                          'individuals': 111361,
                          'unix_timestamp': 1513641600},
                         {'data_date': '2017-12-31',
                          'individuals': 111612,
                          'unix_timestamp': 1514678400},
                         {'data_date': '2018-01-31',
                          'individuals': 112425,
                          'unix_timestamp': 1517356800},
                         {'data_date': '2018-02-15',
                          'individuals': 113030,
                          'unix_timestamp': 1518652800},
                         {'data_date': '2018-02-28',
                          'individuals': 113039,
                          'unix_timestamp': 1519776000},
                         {'data_date': '2018-03-15',
                          'individuals': 113388,
                          'unix_timestamp': 1521072000},
                         {'data_date': '2018-03-31',
                          'individuals': 114090,
                          'unix_timestamp': 1522454400},
                         {'data_date': '2018-04-15',
                          'individuals': 114547,
                          'unix_timestamp': 1523750400},
                         {'data_date': '2018-04-30',
                          'individuals': 113746,
                          'unix_timestamp': 1525046400},
                         {'data_date': '2018-05-15',
                          'individuals': 114199,
                          'unix_timestamp': 1526342400},
                         {'data_date': '2018-05-31',
                          'individuals': 114689,
                          'unix_timestamp': 1527724800},
                         {'data_date': '2018-06-30',
                          'individuals': 114466,
                          'unix_timestamp': 1530316800},
                         {'data_date': '2018-07-31',
                          'individuals': 114542,
                          'unix_timestamp': 1532995200},
                         {'data_date': '2018-08-15',
                          'individuals': 114817,
                          'unix_timestamp': 1534291200},
                         {'data_date': '2018-08-31',
                          'individuals': 114765,
                          'unix_timestamp': 1535673600},
                         {'data_date': '2018-09-30',
                          'individuals': 114830,
                          'unix_timestamp': 1538265600},
                         {'data_date': '2018-10-31',
                          'individuals': 114391,
                          'unix_timestamp': 1540944000}]},
 'frequency': 'day',
 'limit': '',
 'situation_view_description': 'The situation in South Sudan and neighbouring '
                               'countries has quickly escalated into a '
                               'full-blown humanitarian emergency. \r\n'
                               'The majority of the refugees are women and '
                               'children, many of whom flee across the border '
                               'alone. Often, they arrive weak and '
                               'malnourished. When the rainy season comes, '
                               'their needs are compounded by flooding, food '
                               'shortages and disease.\r\n'
                               'Inside South Sudan, nearly two million people '
                               'are displaced internally, while outside the '
                               'country there are now over two million South '
                               'Sudanese refugees, mainly in Ethiopia, Sudan, '
                               'and Uganda. Many fear imminent attack or '
                               'struggle with food insecurity. Uganda '
                               'currently hosts the most South Sudanese '
                               'refugees, having taken in more than one '
                               'million.',
 'situation_view_id': '5',
 'situation_view_name': 'South Sudan',
 'subtitle_language_ar': '',
 'subtitle_language_en': '',
 'subtitle_language_es': '',
 'subtitle_language_fr': '',
 'title_language_ar': '',
 'title_language_en': 'Refugees and aylum-seekers from South Sudan - Total',
 'title_language_es': '',
 'title_language_fr': ''}

###  Extract each country data -> turn into csv file

In [24]:
date = []
timestamp = []
individuals = [] 
_country = []
country_list = ['DRC','Ethiopia','Kenya','Sudan','Uganda']

for country in country_list:
    with open('refugees to ' + country + '.json') as f:
        data = json.load(f)
        data_country = data['data']['timeseries']    
        
    for data in data_country:
        date.append(data['data_date'])
        timestamp.append(data['unix_timestamp'])
        individuals.append(data['individuals'])
        _country.append(country)
        
    refugees_to_all_countries_df = pd.DataFrame({'date': date, 'timestamp': timestamp, 'individuals': individuals, 'to': _country})
    refugees_to_all_countries_df['Year']=[d.split('-')[0] for d in refugees_to_all_countries_df.date]
    refugees_to_all_countries_df['Month']=[d.split('-')[1] for d in refugees_to_all_countries_df.date]
    refugees_to_all_countries_df['Day']=[d.split('-')[2] for d in refugees_to_all_countries_df.date]
    refugees_to_all_countries_df = refugees_to_all_countries_df.sort_values(by=['timestamp'])
    refugees_to_all_countries_df.to_csv("refugees_to_"+ country +"_cleaned.csv", sep=',')
    print("Refugees To : " + country)
    display(refugees_to_all_countries_df.head(3))

Refugees To : DRC

         date   timestamp  individuals   to  Year Month Day
0  2014-10-31  1414713600         1796  DRC  2014    10  31
1  2014-11-30  1417305600         1796  DRC  2014    11  30
2  2014-12-31  1419984000         1796  DRC  2014    12  31

Refugees To : Ethiopia

          date   timestamp  individuals        to  Year Month Day
49  2013-12-31  1388448000        68465  Ethiopia  2013    12  31
50  2014-03-31  1396224000       157422  Ethiopia  2014    03  31
51  2014-06-30  1404086400       208820  Ethiopia  2014    06  30

Refugees To : Kenya

          date   timestamp  individuals        to  Year Month Day
98  2013-12-31  1388448000        46176     Kenya  2013    12  31
49  2013-12-31  1388448000        68465  Ethiopia  2013    12  31
99  2014-03-31  1396224000        63211     Kenya  2014    03  31

Refugees To : Sudan

          date   timestamp  individuals        to  Year Month Day
98  2013-12-31  1388448000        46176     Kenya  2013    12  31
49  2013-12-31  1388448000        68465  Ethiopia  2013    12  31
99  2014-03-31  1396224000        63211     Kenya  2014    03  31

Refugees To : Uganda

           date   timestamp  individuals        to  Year Month Day
200  2012-12-31  1356912000        12524    Uganda  2012    12  31
98   2013-12-31  1388448000        46176     Kenya  2013    12  31
49   2013-12-31  1388448000        68465  Ethiopia  2013    12  31

### Merge all countries data

In [25]:
date = []
timestamp = []
individuals = [] 
_country = []
country_list = ['DRC','Ethiopia','Kenya','Sudan','Uganda']

for country in country_list:
    with open('refugees to ' + country + '.json') as f:
        data = json.load(f)
        data_country = data['data']['timeseries']    
        
    for data in data_country:
        date.append(data['data_date'])
        timestamp.append(data['unix_timestamp'])
        individuals.append(data['individuals'])
        _country.append(country)

refugees_to_all_countries_df = pd.DataFrame({'date': date, 'timestamp': timestamp, 'individuals': individuals, 'to': _country})
refugees_to_all_countries_df['Year']=[d.split('-')[0] for d in refugees_to_all_countries_df.date]
refugees_to_all_countries_df['Month']=[d.split('-')[1] for d in refugees_to_all_countries_df.date]
refugees_to_all_countries_df['Day']=[d.split('-')[2] for d in refugees_to_all_countries_df.date]
refugees_to_all_countries_df = refugees_to_all_countries_df.sort_values(by=['timestamp'])
refugees_to_all_countries_df.head(50)
refugees_to_all_countries_df.to_csv("refugees_to_neighbor_countries_cleaned.csv", sep=',')

#### Refugees from south sudan

In [27]:
date = []
timestamp = []
individuals = [] 

with open('refugees from south-sudan all.json') as f:
    data = json.load(f)
    pprint(data)
    
data_country = data['data']['timeseries']  
for data in data_country:
    date.append(data['data_date'])
    timestamp.append(data['unix_timestamp'])
    individuals.append(data['individuals'])

df = pd.DataFrame({'date': date, 'timestamp': timestamp, 'individuals': individuals})
df.head(3)
df.to_csv('refugees from south-sudan all_cleaned.csv', sep = ',')

{'chartType': 'areaspline',
 'color': '#3c8dbc',
 'currentSeries': 1,
 'data': {'source': 'UNHCR, Office of the Prime Minister, IOM, SRCS, COR, HAC',
          'timeseries': [{'data_date': '2014-03-31',
                          'individuals': 398264,
                          'unix_timestamp': 1396224000},
                         {'data_date': '2014-06-30',
                          'individuals': 513868,
                          'unix_timestamp': 1404086400},
                         {'data_date': '2014-09-30',
                          'individuals': 589560,
                          'unix_timestamp': 1412035200},
                         {'data_date': '2014-10-31',
                          'individuals': 591356,
                          'unix_timestamp': 1414713600},
                         {'data_date': '2014-11-30',
                          'individuals': 591356,
                          'unix_timestamp': 1417305600},
                         {'data_date': '2014-12-31',
                          'individuals': 616149,
                          'unix_timestamp': 1419984000},
                         {'data_date': '2015-01-31',
                          'individuals': 617634,
                          'unix_timestamp': 1422662400},
                         {'data_date': '2015-02-28',
                          'individuals': 625069,
                          'unix_timestamp': 1425081600},
                         {'data_date': '2015-03-31',
                          'individuals': 651450,
                          'unix_timestamp': 1427760000},
                         {'data_date': '2015-04-30',
                          'individuals': 655276,
                          'unix_timestamp': 1430352000},
                         {'data_date': '2015-05-31',
                          'individuals': 662950,
                          'unix_timestamp': 1433030400},
                         {'data_date': '2015-06-30',
                          'individuals': 740522,
                          'unix_timestamp': 1435622400},
                         {'data_date': '2015-07-31',
                          'individuals': 748137,
                          'unix_timestamp': 1438300800},
                         {'data_date': '2015-08-31',
                          'individuals': 753019,
                          'unix_timestamp': 1440979200},
                         {'data_date': '2015-09-30',
                          'individuals': 769975,
                          'unix_timestamp': 1443571200},
                         {'data_date': '2015-10-31',
                          'individuals': 770138,
                          'unix_timestamp': 1446249600},
                         {'data_date': '2015-11-30',
                          'individuals': 762550,
                          'unix_timestamp': 1448841600},
                         {'data_date': '2015-12-31',
                          'individuals': 778072,
                          'unix_timestamp': 1451520000},
                         {'data_date': '2016-01-31',
                          'individuals': 787180,
                          'unix_timestamp': 1454198400},
                         {'data_date': '2016-02-29',
                          'individuals': 769325,
                          'unix_timestamp': 1456704000},
                         {'data_date': '2016-03-31',
                          'individuals': 840498,
                          'unix_timestamp': 1459382400},
                         {'data_date': '2016-04-30',
                          'individuals': 799783,
                          'unix_timestamp': 1461974400},
                         {'data_date': '2016-05-31',
                          'individuals': 854966,
                          'unix_timestamp': 1464652800},
                         {'data_date': '2016-06-30',
                          'individuals': 847173,
                          'unix_timestamp': 1467244800},
                         {'data_date': '2016-07-31',
                          'individuals': 864057,
                          'unix_timestamp': 1469923200},
                         {'data_date': '2016-08-31',
                          'individuals': 947281,
                          'unix_timestamp': 1472601600},
                         {'data_date': '2016-09-30',
                          'individuals': 1146984,
                          'unix_timestamp': 1475193600},
                         {'data_date': '2016-10-31',
                          'individuals': 1288334,
                          'unix_timestamp': 1477872000},
                         {'data_date': '2016-11-30',
                          'individuals': 1367629,
                          'unix_timestamp': 1480464000},
                         {'data_date': '2016-12-31',
                          'individuals': 1431005,
                          'unix_timestamp': 1483142400},
                         {'data_date': '2017-01-31',
                          'individuals': 1526750,
                          'unix_timestamp': 1485820800},
                         {'data_date': '2017-02-28',
                          'individuals': 1643784,
                          'unix_timestamp': 1488240000},
                         {'data_date': '2017-03-19',
                          'individuals': 1646403,
                          'unix_timestamp': 1489881600},
                         {'data_date': '2017-03-31',
                          'individuals': 1770807,
                          'unix_timestamp': 1490918400},
                         {'data_date': '2017-04-30',
                          'individuals': 1824837,
                          'unix_timestamp': 1493510400},
                         {'data_date': '2017-05-31',
                          'individuals': 1887218,
                          'unix_timestamp': 1496188800},
                         {'data_date': '2017-06-30',
                          'individuals': 1952229,
                          'unix_timestamp': 1498780800},
                         {'data_date': '2017-07-31',
                          'individuals': 1984010,
                          'unix_timestamp': 1501459200},
                         {'data_date': '2017-08-31',
                          'individuals': 2055153,
                          'unix_timestamp': 1504137600},
                         {'data_date': '2017-09-01',
                          'individuals': 2055153,
                          'unix_timestamp': 1504224000},
                         {'data_date': '2017-09-15',
                          'individuals': 2055930,
                          'unix_timestamp': 1505433600},
                         {'data_date': '2017-09-18',
                          'individuals': 2055930,
                          'unix_timestamp': 1505692800},
                         {'data_date': '2017-09-30',
                          'individuals': 2110380,
                          'unix_timestamp': 1506729600},
                         {'data_date': '2017-10-01',
                          'individuals': 2105813,
                          'unix_timestamp': 1506816000},
                         {'data_date': '2017-10-15',
                          'individuals': 2108017,
                          'unix_timestamp': 1508025600},
                         {'data_date': '2017-10-31',
                          'individuals': 2112169,
                          'unix_timestamp': 1509408000},
                         {'data_date': '2017-11-15',
                          'individuals': 2456600,
                          'unix_timestamp': 1510704000},
                         {'data_date': '2017-11-30',
                          'individuals': 2474970,
                          'unix_timestamp': 1512000000},
                         {'data_date': '2017-12-15',
                          'individuals': 2457216,
                          'unix_timestamp': 1513296000},
                         {'data_date': '2017-12-19',
                          'individuals': 2457667,
                          'unix_timestamp': 1513641600},
                         {'data_date': '2017-12-31',
                          'individuals': 2426049,
                          'unix_timestamp': 1514678400},
                         {'data_date': '2018-01-15',
                          'individuals': 2427818,
                          'unix_timestamp': 1515974400},
                         {'data_date': '2018-01-31',
                          'individuals': 2436675,
                          'unix_timestamp': 1517356800},
                         {'data_date': '2018-02-15',
                          'individuals': 2437280,
                          'unix_timestamp': 1518652800},
                         {'data_date': '2018-02-28',
                          'individuals': 2463099,
                          'unix_timestamp': 1519776000},
                         {'data_date': '2018-03-15',
                          'individuals': 2460064,
                          'unix_timestamp': 1521072000},
                         {'data_date': '2018-03-31',
                          'individuals': 2467875,
                          'unix_timestamp': 1522454400},
                         {'data_date': '2018-04-15',
                          'individuals': 2471364,
                          'unix_timestamp': 1523750400},
                         {'data_date': '2018-04-30',
                          'individuals': 2470248,
                          'unix_timestamp': 1525046400},
                         {'data_date': '2018-05-15',
                          'individuals': 2472832,
                          'unix_timestamp': 1526342400},
                         {'data_date': '2018-05-31',
                          'individuals': 2481522,
                          'unix_timestamp': 1527724800},
                         {'data_date': '2018-06-15',
                          'individuals': 2484442,
                          'unix_timestamp': 1529020800},
                         {'data_date': '2018-06-30',
                          'individuals': 2485950,
                          'unix_timestamp': 1530316800},
                         {'data_date': '2018-07-31',
                          'individuals': 2495764,
                          'unix_timestamp': 1532995200},
                         {'data_date': '2018-08-15',
                          'individuals': 2489548,
                          'unix_timestamp': 1534291200},
                         {'data_date': '2018-08-31',
                          'individuals': 2466250,
                          'unix_timestamp': 1535673600},
                         {'data_date': '2018-09-15',
                          'individuals': 2466014,
                          'unix_timestamp': 1536969600},
                         {'data_date': '2018-09-30',
                          'individuals': 2467911,
                          'unix_timestamp': 1538265600},
                         {'data_date': '2018-10-31',
                          'individuals': 2181316,
                          'unix_timestamp': 1540944000}]},
 'frequency': 'day',
 'limit': '',
 'situation_view_description': 'The situation in South Sudan and neighbouring '
                               'countries has quickly escalated into a '
                               'full-blown humanitarian emergency. \r\n'
                               'The majority of the refugees are women and '
                               'children, many of whom flee across the border '
                               'alone. Often, they arrive weak and '
                               'malnourished. When the rainy season comes, '
                               'their needs are compounded by flooding, food '
                               'shortages and disease.\r\n'
                               'Inside South Sudan, nearly two million people '
                               'are displaced internally, while outside the '
                               'country there are now over two million South '
                               'Sudanese refugees, mainly in Ethiopia, Sudan, '
                               'and Uganda. Many fear imminent attack or '
                               'struggle with food insecurity. Uganda '
                               'currently hosts the most South Sudanese '
                               'refugees, having taken in more than one '
                               'million.',
 'situation_view_id': '5',
 'situation_view_name': 'South Sudan',
 'subtitle_language_ar': '',
 'subtitle_language_en': '',
 'subtitle_language_es': '',
 'subtitle_language_fr': '',
 'title_language_ar': '',
 'title_language_en': 'Refugees and aylum-seekers from South Sudan - Total',
 'title_language_es': '',
 'title_language_fr': ''}